<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
<body>
    {{>header}}
    <div class="container">
    <img src="/img/sasu_marketing.png" width="200">
    <br>
    <br>
    <p>Created by {{name}}</p>
    <p>This app uses Mapbox and Darksky API's</p>

    </div>
    {{>footer}}
    {{>scripts}}
</body>
</html>